*{
    font-family: 'Fraunces', serif;
    color: #111111;
}

body{
    margin: 0;
    background-color: #224878;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #6edff8 ;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #11111133;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: #6edff8;
    box-shadow: 5px 5px 10px -3px #11111140, -5px -5px 15px 3px #82e1f7;
}

button:active{
    background-color: #63daf8;
}

button:focus{
    outline: none;
}

.col-2{
    grid-column: span 2;
}
.display{
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #363636;
    border-radius: 12px;
    text-align: right;
    justify-content: space-between;
    word-wrap: break-all;
    box-shadow: 0px 0px 0px 10px #11111143;
}

.display div{
    color: #FBFCFC;
}

#valor-actual{
    font-size: 1.5em;
}

#valor-anterior{
    font-size: 2em;
}